In [34]:
import pandas as pd

train = pd.read_csv('Datasets/HousePrice/kc_train.csv')
test = pd.read_csv('Datasets/HousePrice/kc_test.csv')

print(train.info())
print(test.info())
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
date        10000 non-null int64
price       10000 non-null int64
bedroom     10000 non-null int64
bathroom    10000 non-null float64
living      10000 non-null int64
parking     10000 non-null int64
floors      10000 non-null float64
score       10000 non-null int64
square      10000 non-null int64
under       10000 non-null int64
build       10000 non-null int64
repair      10000 non-null int64
a           10000 non-null float64
b           10000 non-null float64
dtypes: float64(4), int64(10)
memory usage: 1.1 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 13 columns):
date        3000 non-null int64
bedroom     3000 non-null int64
bathroom    3000 non-null float64
living      3000 non-null int64
parking     3000 non-null int64
floors      3000 non-null float64
score       3000 non-null int64
square      3000 non-null int64
under       3000 non-null int64
build       3000 non-null int64
repair      3000 non-null int64
a           3000 non-null float64
b           3000 non-null float64
dtypes: float64(4), int64(9)
memory usage: 304.8 KB
None

,date,price,bedroom,bathroom,living,parking,floors,score,square,under,build,repair,a,b
0,20150302,545000,3,2.25,1670,6240,1.0,8,1240,430,1974,0,47.6413,-122.113
1,20150211,785000,4,2.50,3300,10514,2.0,10,3300,0,1984,0,47.6323,-122.036
2,20150107,765000,3,3.25,3190,5283,2.0,9,3190,0,2007,0,47.5534,-122.002
3,20141103,720000,5,2.50,2900,9525,2.0,9,2900,0,1989,0,47.5442,-122.138
4,20140603,449500,5,2.75,2040,7488,1.0,7,1200,840,1969,0,47.7289,-122.172

In [35]:
import numpy as np
# select_feature = ['date','bedroom','bathroom','living',
#                   'parking','floors','score','square','under','build','repair','a','b']
select_feature = ['bathroom','living',
                  'score','square']

X_train = train[select_feature]
X_test = test[select_feature]
y_train = train['price']

In [36]:
X_train.head()

   bathroom  living  score  square
0      2.25    1670      8    1240
1      2.50    3300     10    3300
2      3.25    3190      9    3190
3      2.50    2900      9    2900
4      2.75    2040      7    1200

In [37]:
X_test.head()

   bathroom  living  score  square
0      1.00     880      7     880
1      2.50    2880      7    2880
2      2.50    1980      7    1980
3      2.50    2830      9    2830
4      1.75    1900      8    1900

In [38]:
# 没有数据缺失，不需要进行填充
# 且都为数值型数据，不需要进行特征向量化
# 进行特征缩放，使用数据标准化模块
from sklearn.preprocessing import StandardScaler
ss_X = StandardScaler()
ss_Y = StandardScaler()

X_train = ss_X.fit_transform(X_train)
X_test = ss_X.transform(X_test)
y_train = ss_Y.fit_transform(y_train)

X_train
y_train

//anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)
//anaconda/lib/python3.5/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python3.5/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

array([ 0.00569866,  0.64929056,  0.5956579 , ...,  1.49400492,
        1.58786207, -0.53629153])

In [43]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svl = SVR(kernel='linear')
svp = SVR(kernel='poly')

from sklearn.cross_validation import cross_val_score
cross_val_score(svp, X_train, y_train, cv=5, scoring='r2').mean()

0.36774844290525416

In [44]:
svp.fit(X_train, y_train)
svp_y_predict = ss_Y.inverse_transform(svp.predict(X_test))
svp_submission = pd.DataFrame({'price':svp_y_predict})
svp_submission.to_csv('Datasets/HousePrice/svp_submission.csv', index=False)

In [45]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [46]:
rf.feature_importances_

array([ 0.08022175,  0.44782871,  0.31466824,  0.15728131])